.hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 2em;
}

.hero__desc {
  margin: 3em 0;
}

.hero__actionBtn {
  color: white;
  background-color: var(--primary);
  padding: 12px 2rem;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.15rem;
  cursor: pointer;
}
.hero__actionBtn:hover {
  background-color: var(--accent);
}

.hero__ilustration img {
  width: 100%;
  margin-top: 3rem;
  /* max-width: 600px; */
}

@media (min-width: 768px) {
  .hero {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .hero__heading {
    flex: 0 1 50%;
  }

  .hero__actionBtn {
    padding: 12px 3rem;
  }

  .hero__ilustration {
    flex: 0 1 50%;
    display: flex;
    justify-content: flex-end;
  }

  .hero__ilustration img {
    width: 90%;
  }
}
