.global {
  text-align: center;
  background-color: var(--light);
}

.global__statistics {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
  margin: 2em 0;
}

.global__card {
  padding: 2em 2.5em;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 3px 10px 2px rgba(98, 98, 98, 0.2);
  -webkit-box-shadow: 0px 3px 10px 2px rgba(98, 98, 98, 0.2);
  -moz-box-shadow: 0px 3px 10px 2px rgba(98, 98, 98, 0.2);
}

.global__card_status {
  font-weight: 500;
  font-size: 1.5rem;
}

.global__card h3 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 8px;
}

.global__card_text_positif {
  color: var(--primary);
}

.global__card_text_sembuh {
  color: var(--accent);
}

.global__card_text_meninggal {
  color: #a85454;
}

.global__card a {
  font-size: 0.8rem;
  color: var(--primary);
  text-decoration: underline;
}
.global__card a:hover {
  color: var(--secondary);
}

.global__last_update {
  font-size: 0.8rem;
  color: darkgray;
}
